/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  4. Center the card and set background color, font-family
*/

body {
  background-color: hsl(0, 0%, 94%);
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
}
